<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <style>
            html {
                font-family: "Times New Roman", serif;
                margin: auto auto;
            }

            body {
                margin: 0 auto;
                max-width: 700px;
            }

            h1 {
                text-align: center;
            }
        </style>
    </head>
    <body max-width=500px>
        {{ content }}
    </body>
</html>